# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
build/
.next/
/out/

# Environment variables
.env
.env.*
!.env.example
!**/.env.example
!.env.test.example
!**/.env.test.example

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage/

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel 
.vercel

../design-reference/

# Claude 
.claudeignore